.orderBlock{
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.order-table {
    width: 100%;
    border-collapse: collapse;
  }
    
  .order-table th,
  .order-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  .order-table th {
    background: #f5f5f5;
    text-align: left;
  }
